@font-face {
  font-family: ki;
  font-display: swap;
  src: url("../fonts/ki-light-regular.woff2") format("woff2"), url("../fonts/ki-light-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: overpass;
  font-display: swap;
  src: url("../fonts/overpass-v11-800.woff2") format("woff2"), url("../fonts/overpass-v11-800.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: rubik;
  font-display: swap;
  src: url("../fonts/rubik-v20-500.woff2") format("woff2"), url("../fonts/rubik-v20-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: rubik;
  font-display: swap;
  src: url("../fonts/rubik-v20-regular.woff2") format("woff2"), url("../fonts/rubik-v20-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: calc(15px + 0.390625vw);
  font-family: rubik;
}

body {
  min-height: 100%;
  line-height: 1.5;
  color: hsl(64.3deg, 21.2%, 12.9%);
}
body.menu-open {
  overflow: hidden;
}

header {
  height: 2.5em;
  background-color: hsl(355.2deg, 65.6%, 59%);
}
@media (min-width: 1024px) {
  header {
    height: 3em;
  }
}

main {
  overflow: hidden;
}

footer {
  position: sticky;
  bottom: 0;
  border-top: 2px solid hsl(0deg, 23.1%, 94.9%);
}
footer .phones {
  display: grid;
  place-items: center;
  grid-template: 1fr auto 1fr/minmax(1rem, 6vw) repeat(6, 1fr) minmax(1rem, 6vw);
  height: 3.2em;
  background-color: hsl(64.3deg, 21.2%, 12.9%);
  line-height: 1;
}
@media (min-width: 1024px) {
  footer .phones {
    grid-template-columns: minmax(1rem, 19vh) repeat(6, 1fr) minmax(1rem, 19vh);
    height: 2.5em;
  }
}
footer .phones > div {
  grid-row: 2;
}
footer .phones__viber {
  grid-column-start: 2;
}
footer .phones__viber a {
  font-family: ki;
  font-size: 1.5em;
  font-weight: 400;
  filter: drop-shadow(0 0 0.125rem hsla(64.3deg, 21.2%, 12.9%, 0.85));
}
@media (max-width: 404px) {
  footer .phones__viber a {
    font-size: 1.2em;
  }
}
@media (min-width: 1024px) {
  footer .phones__viber {
    justify-self: start;
  }
}
footer .phones__number {
  grid-column: 3/7;
}
@media (min-width: 1024px) {
  footer .phones__number {
    grid-column: span 2;
  }
}
footer .phones__number a {
  font-size: 1.1em;
  line-height: 1.2;
  box-shadow: 0 0 0.125rem 0.125rem hsl(355.2deg, 65.6%, 59%);
  border-radius: 5px;
  padding: 3px 5px;
  text-decoration: none;
  color: hsl(64.3deg, 21.2%, 12.9%);
  background-color: hsl(31.6deg, 30.2%, 87.6%);
  border: 1px solid hsla(64.3deg, 21.2%, 12.9%, 0.85);
}
@media (max-width: 404px) {
  footer .phones__number a {
    font-size: 1em;
  }
}
footer .phones__call {
  display: grid;
  place-items: center;
  grid-column-end: 8;
  box-shadow: 0 0 0 0 hsl(355.2deg, 65.6%, 59%);
  border-radius: 50%;
  background-color: hsl(31.6deg, 30.2%, 87.6%);
  aspect-ratio: 1/1;
  height: 2.56em;
}
@media (max-width: 404px) {
  footer .phones__call {
    height: 42px;
  }
}
@media (min-width: 744px) {
  footer .phones__call {
    height: 2em;
  }
}
@media (min-width: 1024px) {
  footer .phones__call {
    display: none;
  }
}
footer .phones__call svg {
  height: 1.92em;
  width: 1.92em;
}
footer .phones__call svg #trubka {
  animation: 2500ms svitlenko ease-in-out infinite;
}
footer .phones__call svg #duga_1 {
  animation: 798ms svitlenko_duga_1 ease-in-out infinite;
}
footer .phones__call svg #duga_2 {
  animation: 798ms svitlenko_duga_2 ease-in-out infinite;
}
footer .phones__call svg #duga_3 {
  animation: 798ms svitlenko_duga_3 ease-in-out infinite;
}
@media (min-width: 744px) {
  footer .phones__call svg {
    height: 1.5em;
    width: 1.5em;
  }
}

a {
  text-decoration: none;
  color: hsl(31.6deg, 30.2%, 87.6%);
}

b {
  letter-spacing: 0.025em;
  font-weight: 500;
}

svg {
  display: inline-block;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 2rem;
  padding: 1rem 2rem;
  font-weight: 500;
  line-height: 1.2;
}

nav {
  display: grid;
  align-items: center;
  grid-template-columns: minmax(1rem, 6vw) repeat(6, 1fr) minmax(1rem, 6vw);
  width: 100%;
  height: 100%;
  border-bottom: 2px solid hsl(0deg, 23.1%, 94.9%);
}
@media (min-width: 1024px) {
  nav {
    grid-template-columns: minmax(1rem, 19vh) repeat(6, 1fr) minmax(1rem, 19vh);
  }
}
nav .logo-box {
  display: grid;
  align-items: center;
  grid-column-start: 2;
  height: 2em;
}
@media (max-width: 744px) {
  nav .logo-box {
    grid-row: 1/2;
  }
}
@media (min-width: 1024px) {
  nav .logo-box {
    grid-column-start: 2;
    align-self: center;
    justify-self: start;
    height: 2em;
  }
}
nav .logo-box svg {
  cursor: pointer;
  fill: #fff;
  width: 2.5em;
}
@media (min-width: 744px) {
  nav .logo-box svg {
    width: 3em;
  }
}
nav .logo-box #wheel {
  animation: 900ms wheel infinite backwards;
  fill: hsl(64.3deg, 21.2%, 12.9%);
}
nav .logo-box #lorry {
  animation: 900ms lorry infinite backwards;
}
nav .logo-box #stuff {
  animation: 900ms stuff infinite backwards;
}
nav .logo-box #line {
  animation: 1800ms line infinite backwards;
}
nav .logo-box img {
  width: 67px;
}
@media (min-width: 744px) {
  nav .logo-box img {
    width: 60%;
  }
}
nav .navbar-links {
  display: block;
}
@media (min-width: 744px) {
  nav .navbar-links {
    grid-column: 3/8;
  }
}
@media (min-width: 1024px) {
  nav .navbar-links {
    grid-column: 3/8;
  }
}
@media (max-width: 744px) {
  nav .navbar-links {
    position: fixed;
    z-index: 1;
    width: 80%;
    transform: translateX(100%);
    top: 2.5em;
    bottom: 3.2em;
    left: 20%;
    visibility: hidden;
    background-color: hsl(355.2deg, 65.6%, 59%);
    border-bottom: 2px solid hsl(0deg, 23.1%, 94.9%);
    border-left: 2px solid hsl(0deg, 23.1%, 94.9%);
    transition: transform 650ms ease-in-out, visibility 650ms ease-in-out;
  }
  nav .navbar-links.active {
    position: fixed;
    top: 2.5em;
    bottom: 3.2em;
    visibility: visible;
    transform: translateX(0%);
    overflow: hidden;
    right: 0;
    display: block;
    width: 80%;
  }
}
nav .navbar-links ul {
  display: grid;
  grid-auto-flow: column;
}
@media (max-width: 744px) {
  nav .navbar-links ul {
    align-items: end;
    justify-content: center;
    padding-top: 30%;
    row-gap: 4%;
    height: 100%;
    grid-template-rows: repeat(4, minmax(2rem, 7vh));
  }
}
@media (min-width: 1024px) {
  nav .navbar-links ul {
    justify-content: end;
  }
}
nav .navbar-links ul li {
  place-self: center;
  list-style: none;
  width: fit-content;
  margin: 0 0.25rem;
  position: relative;
  z-index: 1;
  outline: 10rem solid hsl(64.3deg, 21.2%, 12.9%);
  filter: drop-shadow(0 0 1.25rem hsla(0deg, 0%, 97.6%, 0.85));
  clip-path: polygon(1% 5%, 89% 2%, 98% 61%, 86% 97%, 1% 94%);
}
@media (min-width: 1024px) {
  nav .navbar-links ul li {
    margin: 0 1.5rem;
  }
}
nav .navbar-links ul li.send-application {
  background-color: hsl(0deg, 23.1%, 94.9%);
  outline: 2px solid hsl(355.2deg, 65.6%, 59%);
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}
nav .navbar-links ul li.send-application > a {
  font-size: 0.75rem;
  line-height: 2.25;
  letter-spacing: 0.03em;
  filter: drop-shadow(0 0 0.25rem rgba(39, 33, 33, 0.55));
}
nav .navbar-links ul li.send-application > a:hover {
  color: hsl(64.3deg, 21.2%, 12.9%);
}
nav .navbar-links ul li.send-application::after {
  background: hsl(0deg, 23.1%, 94.9%);
  outline: 7rem solid hsl(113deg, 66%, 59%);
}
@media (max-width: 744px) {
  nav .navbar-links ul li {
    border: 0;
  }
}
nav .navbar-links ul li::after {
  content: "";
  position: absolute;
  top: -0.25rem;
  bottom: -0.25rem;
  left: -0.25rem;
  right: -0.25rem;
  background: linear-gradient(hsla(64.3deg, 21.2%, 12.9%, 0.45) 20%, hsla(64.3deg, 21.2%, 12.9%, 0.99) 90%);
  outline: 20px dashed hsl(0deg, 23.1%, 94.9%);
  z-index: -1;
  transform: scaleX(0);
  border-radius: inherit;
  transition: transform 250ms ease-in;
}
nav .navbar-links ul li:hover::after {
  transform: scaleX(1);
  border-radius: inherit;
}
nav .navbar-links ul li a {
  display: block;
  text-transform: uppercase;
  font-size: 1.35rem;
  line-height: 1.3;
  text-decoration: none;
  padding: 0 0.65rem;
  color: hsl(64.3deg, 21.2%, 12.9%);
  transition: color 460ms ease-in-out 30ms;
}
nav .navbar-links ul li a:hover {
  color: hsl(0deg, 23.1%, 94.9%);
}
@media (min-width: 744px) {
  nav .navbar-links ul li a {
    line-height: 1.5;
    font-size: 1.05rem;
  }
}
nav .menu-box {
  display: grid;
  place-items: center;
  justify-self: end;
  height: 1.875em;
  aspect-ratio: 4/3;
  grid-column-end: 8;
  background-color: hsl(31.6deg, 30.2%, 87.6%);
  border-radius: 5px;
  padding: 0.25em 0.3em;
  outline: 1px solid hsla(113deg, 66%, 59%, 0.5);
  transition: outline-color 650ms ease-in;
  box-shadow: 0 0 2px 1px hsl(0deg, 23.1%, 94.9%);
}
nav .menu-box.active {
  outline-color: hsla(64.3deg, 21.2%, 12.9%, 0.85);
  box-shadow: none;
}
nav .menu-box.active .line:first-child {
  width: 80%;
  background-color: hsl(355.2deg, 65.6%, 59%);
}
nav .menu-box.active .line:nth-child(even) {
  width: 80%;
  background-color: hsl(64.3deg, 21.2%, 12.9%);
}
nav .menu-box.active .line:last-child {
  width: 80%;
  background-color: hsl(355.2deg, 65.6%, 59%);
}
@media (min-width: 744px) {
  nav .menu-box {
    display: none;
    height: 2.1em;
    justify-self: end;
  }
}
nav .menu-box .line {
  display: inline-block;
  margin-left: auto;
  height: 2px;
  background-color: hsl(64.3deg, 21.2%, 12.9%);
  transition: width 500ms ease-in, background-color 500ms ease-in;
}
nav .menu-box .line:first-child {
  width: 33%;
}
nav .menu-box .line:nth-child(even) {
  width: 66%;
}
nav .menu-box .line:last-child {
  width: 100%;
}

main .hero {
  display: grid;
  place-items: center;
  grid-template: 2fr 1fr 1fr 1fr/minmax(1rem, 6vw) repeat(6, 1fr) minmax(1rem, 6vw);
  height: calc(100 * (var(--vh)) - 2.5em);
  padding-bottom: 3.2em;
  background-image: linear-gradient(hsla(0deg, 20%, 95%, 0.6) 35%, hsla(10deg, 2%, 65%, 0.85) 40%), url("../img/main_hero.jpg");
  background-size: cover;
  column-gap: 1rem;
  row-gap: 1.5rem;
}
@media (min-width: 744px) {
  main .hero {
    background-position-y: bottom;
  }
}
@media (min-width: 1024px) {
  main .hero {
    grid-template: 1.5fr 1fr 1fr/minmax(1rem, 19vh) repeat(8, 1fr) minmax(1rem, 19vh);
    background-image: linear-gradient(hsla(0deg, 20%, 95%, 0.6) 40%, hsla(10deg, 2%, 65%, 0.85) 59%), url("../img/main_hero.jpg");
    column-gap: 1rem;
    row-gap: 0.5rem;
  }
}
main .hero .title {
  align-self: center;
  grid-column: 2/8;
}
@media (min-width: 1024px) {
  main .hero .title {
    align-self: start;
    padding: 4vh 9vw 0 2vw;
    grid-column: 3/10;
  }
}
main .hero .title h1 {
  font-family: overpass;
  font-size: 2.5em;
  line-height: 1.4;
  font-weight: 800;
  letter-spacing: -0.01ch;
  color: hsl(64.3deg, 21.2%, 12.9%);
}
@media (max-width: 406px) {
  main .hero .title h1 {
    font-size: 2.05em;
  }
}
@media (min-width: 744px) {
  main .hero .title h1 {
    font-size: 3.2rem;
  }
}
@media (min-width: 1024px) {
  main .hero .title h1 {
    font-size: 2.9rem;
    line-height: 1.29;
    max-width: 19ch;
  }
}
@media (min-width: 1400px) {
  main .hero .title h1 {
    font-size: 3.1rem;
    line-height: 1.4;
  }
}
@media (min-width: 1600px) {
  main .hero .title h1 {
    font-size: 4rem;
    line-height: 1.32;
  }
}
main .hero .title h1 span.versa {
  display: inline-block;
  color: hsl(355.2deg, 65.6%, 59%);
  -webkit-text-stroke: 1px hsl(64.3deg, 21.2%, 12.9%);
  position: relative;
}
main .hero .title h1 span.versa::before {
  content: "";
  position: absolute;
  background-image: url("../img/icons/icons.svg#arrow");
  background-size: 1.5ch 1.5ch;
  width: 1.5ch;
  filter: drop-shadow(0 0 1px rgba(54, 55, 36, 0.85));
  height: 1.5ch;
  left: 2.5ch;
  right: 0ch;
  bottom: 1.1ch;
  animation: 2900ms dancing-arrow infinite alternate;
}
main .hero .hero-block {
  display: grid;
  place-items: center;
  grid-template-columns: 3px 2fr 4fr 3px;
  grid-template-rows: 1px auto 1px;
  grid-row: 2/3;
  grid-column: 1/9;
  column-gap: 5%;
  row-gap: 4%;
  transition: column-gap 400ms ease-in-out, row-gap 400ms ease-in-out;
}
main .hero .hero-block:hover {
  column-gap: 2px;
  row-gap: 1px;
}
@media (min-width: 1024px) {
  main .hero .hero-block {
    grid-column: 2/span 4;
    column-gap: 2rem;
  }
}
main .hero .hero-block:nth-of-type(3) {
  grid-row: 3/4;
  grid-template-columns: 3px 4fr 2fr 3px;
}
@media (min-width: 1024px) {
  main .hero .hero-block:nth-of-type(3) {
    grid-column-start: 4;
    grid-template-columns: 3px 2fr 4fr 3px;
  }
}
main .hero .hero-block:nth-of-type(3) .hero-text {
  grid-column: 2/3;
  grid-row: 2/3;
}
@media (min-width: 1024px) {
  main .hero .hero-block:nth-of-type(3) .hero-text {
    grid-column: 3/4;
  }
}
main .hero .hero-block:nth-of-type(3) .hero-text .funny {
  border-radius: 11% 89% 14% 86%/82% 23% 77% 18%;
  transition: box-shadow 400ms ease-in, border-radius 400ms ease-in;
  will-change: box-shadow, border-radius;
}
main .hero .hero-block:nth-of-type(3) .hero-text .funny:hover {
  border-radius: 1rem;
}
main .hero .hero-block:nth-of-type(3) .hero-text .funny h2 {
  transform: rotate(4deg);
  transition: transform 400ms ease-in;
  will-change: transform;
}
main .hero .hero-block:nth-of-type(3) .hero-text .funny h2:hover {
  transform: rotate(0deg);
}
main .hero .hero-block:nth-of-type(3) svg {
  grid-column: 3/4;
  grid-row: 2/3;
}
@media (min-width: 1024px) {
  main .hero .hero-block:nth-of-type(3) svg {
    grid-column: 2/3;
  }
}
main .hero .hero-block:nth-of-type(4) {
  grid-row: 4/5;
}
@media (min-width: 1024px) {
  main .hero .hero-block:nth-of-type(4) {
    grid-row: 2/3;
    grid-column-start: 6;
  }
}
main .hero .hero-text {
  grid-column: 3/4;
  grid-row: 2/3;
}
main .hero .funny {
  border-radius: 86% 14% 89% 11%/18% 77% 23% 82%;
  background-color: hsla(64.3deg, 11.2%, 82.9%, 0.95);
  color: hsla(64.3deg, 21.2%, 12.9%, 0.85);
  border: 2px solid hsla(64.3deg, 21.2%, 12.9%, 0.85);
  box-shadow: 1px 4px 9px 1px hsla(64.3deg, 51.2%, 22.9%, 0.3);
  padding: 0.25rem 0.5rem;
  transition: box-shadow 400ms ease-in, border-radius 400ms ease-in;
  will-change: box-shadow, border-radius;
  position: relative;
}
main .hero .funny:hover {
  box-shadow: 1px -1px 5px 3px hsla(143.4deg, 71.3%, 83.5%, 0.3);
  border-radius: 1rem;
}
main .hero .funny h2 {
  font-size: 1.34rem;
  padding: 0;
  text-align: left;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
  transform: rotate(-2.5deg);
  transition: transform 400ms ease-in;
  will-change: transform;
}
main .hero .funny h2:hover {
  transform: rotate(0deg);
}
@media (max-width: 404px) {
  main .hero .funny h2 {
    font-size: 1rem;
  }
}
@media (min-width: 744px) {
  main .hero .funny h2 {
    transform: rotate(-1deg);
  }
}
@media (min-width: 1024px) {
  main .hero .funny h2 {
    transform: rotate(-4deg);
    font-size: 1rem;
    line-height: 1.4;
  }
}
@media (min-width: 1400px) {
  main .hero .funny h2 {
    font-size: 1.25rem;
    line-height: 1.3;
  }
}
@media (min-width: 1600px) {
  main .hero .funny h2 {
    font-size: 1.4rem;
    max-width: 16ch;
  }
}
@media (min-width: 1024px) {
  main .hero .funny {
    padding: 0.69rem 0.67rem;
    border-radius: 52% 48% 78% 22%/43% 53% 47% 57%;
  }
}
@media (min-width: 1400px) {
  main .hero .funny {
    padding: 1rem 1.2rem;
  }
}
main .hero svg {
  width: 6rem;
  height: 5rem;
  filter: drop-shadow(0 0 0.06em #e8fae6);
  grid-column: 2/3;
  grid-row: 2/3;
}
main .terms-divider {
  position: absolute;
  bottom: -1.24vh;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
main .terms-divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 5vh;
}
main .terms-divider .shape-fill {
  fill: hsla(64.3deg, 11.2%, 82.9%, 0.95);
}
main .terms {
  display: grid;
  place-items: center;
  grid-template: minmax(2rem, 0.5fr) repeat(3, minmax(9rem, 1fr))/minmax(1rem, 2vw) repeat(6, 1fr) minmax(1rem, 2vw);
  height: 95vh;
  max-width: 70em;
  background: linear-gradient(hsla(64.3deg, 11.2%, 82.9%, 0.95), #fbf9f7);
}
@media (min-width: 744px) {
  main .terms {
    grid-template-rows: minmax(10rem, 0.8fr) repeat(2, minmax(15rem, 2fr));
    grid-template-columns: minmax(5rem, 2vw) repeat(6, 1fr) minmax(5rem, 2vw);
    margin: 0 auto;
    min-height: 100vh;
  }
}
main .terms .terms-title {
  grid-column: 1/9;
  width: 100%;
}
@media (min-width: 744px) {
  main .terms .terms-title {
    align-self: start;
  }
}
main .terms .terms-title h3 {
  padding: 0 2rem;
  font-size: 2rem;
  font-weight: 500;
  background-color: hsl(0deg, 2.1%, 94.9%);
}
@media (min-width: 744px) {
  main .terms .terms-title h3 {
    font-size: 2.2rem;
    text-align: center;
  }
}
main .terms .term {
  display: flex;
  gap: 1.25em;
  align-items: start;
  grid-column: 2/8;
}
@media (min-width: 744px) {
  main .terms .term {
    flex-direction: column-reverse;
    align-items: center;
    grid-column: 2/span 2;
  }
}
main .terms .term .term_shadow {
  filter: drop-shadow(0 0 2px hsla(355.2deg, 65.6%, 59%, 0.45));
  opacity: 0;
  transform: scale(0.2) translateX(-100%);
  will-change: opacity, transform;
}
main .terms .term .term_shadow.start {
  opacity: 1;
  transform: scale(1) translateX(0);
  transition: 900ms opacity ease-in, 900ms transform ease-in;
}
@media (min-width: 1024px) {
  main .terms .term .term_shadow {
    transform: scale(0.2) translateX(100%);
  }
}
main .terms .term .term_shadow .term_animation {
  clip-path: polygon(5% 0%, 95% 0%, 100% 5%, 100% 80%, 80% 100%, 5% 100%, 0% 95%, 0% 5%);
}
main .terms .term .term_text {
  opacity: 0;
  transform: translateX(100%);
  will-change: opacity, transform;
}
@media (min-width: 1024px) {
  main .terms .term .term_text {
    transform: translateY(-100%);
  }
}
@media (min-width: 744px) {
  main .terms .term .term_text {
    transform: translateX(-100%);
  }
}
main .terms .term .term_text.start {
  opacity: 1;
  transform: translateX(0);
  transition: 900ms opacity ease-in, 900ms transform ease-in;
}
main .terms .term:nth-of-type(2) .term_text {
  margin-top: 0.25rem;
}
main .terms .term:nth-of-type(3) {
  align-items: center;
}
@media (min-width: 744px) {
  main .terms .term:nth-of-type(3) {
    grid-row: 3;
    grid-column-start: 4;
    margin-top: -35%;
  }
}
main .terms .term:nth-of-type(3) .term_text {
  transform: translateX(-100%);
}
main .terms .term:nth-of-type(3) .term_text > p {
  border-radius: 30% 70% 34% 66%/59% 54% 36% 41%;
}
@media (min-width) {
  main .terms .term:nth-of-type(3) .term_text {
    transform: translateX(100%);
  }
}
main .terms .term:nth-of-type(3) .term_text.start {
  transform: translateX(0);
  transition-delay: 900ms;
}
@media (min-width) {
  main .terms .term:nth-of-type(3) .term_text.start {
    transform: translateX(0%);
  }
}
@media (min-width: 744px) {
  main .terms .term:nth-of-type(3) .term_text {
    transform: translateY(100%);
  }
}
main .terms .term:nth-of-type(3) .term_shadow.start {
  transition-delay: 900ms;
}
@media (min-width: 744px) {
  main .terms .term:nth-of-type(3) .term_shadow {
    transform: translateX(100%);
  }
  main .terms .term:nth-of-type(3) .term_shadow.start {
    transform: translateX(0);
  }
}
main .terms .term:nth-of-type(3) .term_shadow .term_animation {
  clip-path: polygon(20% 0%, 95% 0%, 100% 5%, 100% 95%, 95% 100%, 20% 100%, 0% 80%, 0% 20%);
}
@media (min-width: 744px) {
  main .terms .term:nth-of-type(3) .term_shadow .term_animation {
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 95%, 95% 100%, 5% 100%, 0% 95%, 0% 20%);
  }
}
main .terms .term:nth-of-type(4) {
  align-items: end;
}
@media (min-width: 744px) {
  main .terms .term:nth-of-type(4) {
    grid-column-start: 6;
    align-items: center;
  }
}
main .terms .term:nth-of-type(4) .term_text {
  margin-bottom: 0.25rem;
}
@media (min-width: 744px) {
  main .terms .term:nth-of-type(4) .term_text {
    margin-bottom: 0;
    transform: translateX(100%);
  }
}
main .terms .term:nth-of-type(4) .term_text.start {
  transition-delay: 1800ms;
  transform: translateX(0%);
}
main .terms .term:nth-of-type(4) .term_shadow.start {
  transition-delay: 1800ms;
}
main .terms .term:nth-of-type(4) .term_shadow .term_animation {
  clip-path: polygon(5% 0%, 80% 0%, 100% 20%, 100% 95%, 95% 100%, 5% 100%, 0% 95%, 0% 5%);
}
@media (min-width: 744px) {
  main .terms .term:nth-of-type(4) .term_shadow .term_animation {
    clip-path: polygon(5% 0%, 95% 0%, 100% 5%, 100% 95%, 95% 100%, 20% 100%, 0% 80%, 0% 5%);
  }
}
main .terms .term p {
  font-weight: 500;
  font-size: 1.35em;
  text-align: center;
  line-height: 1.15;
  padding: 0.59em;
  border-radius: 66% 34% 70% 30%/41% 36% 64% 59%;
  color: hsla(64.3deg, 21.2%, 12.9%, 0.85);
  background-color: rgba(250, 250, 249, 0.95);
  -webkit-text-stroke: 0;
  box-shadow: 0 0 0.125rem 0.125rem hsla(64.3deg, 21.2%, 12.9%, 0.85);
}
@media (min-width: 744px) {
  main .terms .term p {
    font-size: 1.45em;
    box-shadow: 0 0 0.375rem 0.25rem hsla(64.3deg, 21.2%, 12.9%, 0.85);
    padding: 0.95em 1.5em;
  }
}
main .terms .term .term_animation {
  display: grid;
  place-items: center;
  background-color: #fdfdfd;
}
@media (min-width: 1024px) {
  main .terms .term .term_animation {
    width: 15em;
    height: 12em;
    padding: 0 5px;
  }
}
main .terms .term .term_animation svg {
  width: 170px;
  height: 130px;
}
@media (max-width: 404px) {
  main .terms .term .term_animation svg {
    width: 120px;
    height: 100px;
  }
}
@media (min-width: 744px) {
  main .terms .term .term_animation svg {
    width: 15rem;
    height: 12rem;
  }
}
@media (min-width: 1024px) {
  main .terms .term .term_animation svg {
    width: 100%;
    height: 100%;
  }
}
main .terms .term .term_animation svg #bags #sack-top-left {
  animation: 6000ms dance-sack-top-left 800ms infinite;
}
main .terms .term .term_animation svg #sack-middle {
  animation: 6000ms dance-sack-middle 800ms infinite;
}
main .terms .term .term_animation svg #sack-bottom-right {
  animation: 6000ms dance-sack-bottom-right 800ms infinite;
}
main .terms .term .term_animation svg #loader #sack-top-right {
  animation: 6000ms dance-sack-top-right 6800ms infinite;
}
@media (min-width: 744px) {
  main .terms .term .term_animation svg #loader #sack-top-right {
    animation: 6000ms dance-sack-top-right-desktop 6800ms infinite;
  }
}
main .terms .term .term_animation svg #sack-right {
  animation: 6000ms dance-sack-right 6800ms infinite;
}
@media (min-width: 744px) {
  main .terms .term .term_animation svg #sack-right {
    animation: 6000ms dance-sack-right-desktop 6800ms infinite;
  }
}
main .terms .term .term_animation svg #sack-bottom {
  animation: 6000ms dance-sack-bottom 6800ms infinite;
}
@media (min-width: 744px) {
  main .terms .term .term_animation svg #sack-bottom {
    animation: 6000ms dance-sack-bottom-desktop 6800ms infinite;
  }
}
main .terms .term .term_animation svg #man {
  animation: 6000ms dance-man 6800ms infinite;
}
@media (min-width: 744px) {
  main .terms .term .term_animation svg #man {
    animation: 6000ms dance-man-desktop 6800ms infinite;
  }
}
main .terms .term .term_animation svg #truck #sacks {
  animation: 6000ms dance-sacks 12800ms infinite;
}
@media (min-width: 744px) {
  main .terms .term .term_animation svg #truck #sacks {
    animation: 6000ms dance-sacks-desktop 12800ms infinite;
  }
}
main .terms .term .term_animation svg #gazel {
  animation: 6000ms dance-gazel 12800ms infinite;
}
@media (min-width: 744px) {
  main .terms .term .term_animation svg #gazel {
    transform-origin: right;
    animation: 6000ms dance-gazel-desktop 12800ms infinite;
  }
}
main .prices {
  display: grid;
  grid-template: minmax(1rem, 1fr) minmax(416px, 5fr) minmax(2rem, 1.25fr)/minmax(1rem, 6vw) repeat(6, 1fr) minmax(1rem, 6vw);
  row-gap: calc(var(--vh) * 1);
  align-items: center;
  background: linear-gradient(#fbf9f7, #f2ece6);
}
main .prices .prices-title {
  grid-column: 2/8;
  max-width: 100%;
}
main .prices .prices-title h2 {
  background-color: hsl(0deg, 0%, 85.1%);
  position: relative;
}
main .prices .prices-title h2::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0.5rem;
  background-color: hsl(355.2deg, 65.6%, 69%);
  box-shadow: 0 0 0.25rem 0.125rem #f8f8f8;
  border-radius: 30px;
}
main .prices .prices-title h2::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 0.5rem;
  background-color: hsl(355.2deg, 65.6%, 69%);
  box-shadow: 0 0 0.25rem 0.125rem #f8f8f8;
  border-radius: 30px;
}
@media (min-width: 744px) {
  main .prices .prices-title h2 {
    font-size: 2.3rem;
    letter-spacing: 0.03em;
  }
}
@media (min-width: 1024px) {
  main .prices .prices-title h2 {
    letter-spacing: 0.01em;
    margin: 0 6vw;
  }
}
main .prices .prices-trucks {
  display: grid;
  grid-template: repeat(3, minmax(100px, 1fr))/repeat(8, 1fr);
  grid-column: 2/8;
  row-gap: 3rem;
}
main .prices .prices-trucks .prices-truck-card {
  display: grid;
  opacity: 0;
  transform: translateX(75%);
  grid-column: 1/9;
  place-items: center;
  border-radius: 25px;
  padding: 1rem;
  column-gap: 0.5vh;
  row-gap: 0.5vh;
  background-size: cover;
  box-shadow: 0 0 0.125rem 0.125rem hsla(64.3deg, 21.2%, 12.9%, 0.85);
  will-change: opacity, transform, box-shadow, background-position, background-image, fill, filter, column-gap, row-gap;
  transition: 250ms opacity ease-in, 580ms fill ease-in-out, 580ms filter ease-in-out, 450ms transform ease-out, 660ms box-shadow ease-in, 660ms column-gap ease-in, 660ms row-gap ease-in, 580ms background-position ease-in-out, 235ms border ease-in, 580ms background-image ease-in-out;
}
main .prices .prices-trucks .prices-truck-card.appear {
  opacity: 1;
  transform: translateX(0%);
}
main .prices .prices-trucks .prices-truck-card:hover {
  transform: scale(1.05);
  background-position: 25% 75%;
  box-shadow: 0 0 0.375rem 0.25rem hsla(64.3deg, 21.2%, 12.9%, 0.85);
  column-gap: 1px;
  row-gap: 1px;
}
main .prices .prices-trucks .prices-truck-card:hover .icon > svg {
  fill: #a6a6a6;
  filter: drop-shadow(0 0 2px white);
}
@media (max-width: 744px) {
  main .prices .prices-trucks .prices-truck-card:hover {
    transform: scale(1.03);
  }
}
main .prices .prices-trucks .prices-truck-card:nth-of-type(1) {
  background-image: linear-gradient(hsla(0.06deg, 33.2%, 95%, 0.69) 15%, hsla(0.06deg, 33.2%, 95%, 0.59) 65%), url("../img/gazel-card.jpg");
}
main .prices .prices-trucks .prices-truck-card:nth-of-type(1) div.truck-title {
  animation: 6000ms dancing-gazel-title ease-in infinite alternate;
}
main .prices .prices-trucks .prices-truck-card:nth-of-type(1):hover {
  background-image: linear-gradient(rgba(27, 25, 25, 0.8) 60%, rgba(87, 70, 70, 0.9) 90%), url("../img/gazel-card.jpg");
}
main .prices .prices-trucks .prices-truck-card:nth-of-type(2) {
  background-image: linear-gradient(hsla(0.06deg, 33.2%, 95%, 0.69) 15%, hsla(0.06deg, 33.2%, 95%, 0.59) 65%), url("../img/zil-card.jpg");
}
main .prices .prices-trucks .prices-truck-card:nth-of-type(2):hover {
  background-image: linear-gradient(rgba(27, 25, 25, 0.8) 60%, rgba(87, 70, 70, 0.9) 90%), url("../img/zil-card.jpg");
}
main .prices .prices-trucks .prices-truck-card:nth-of-type(3) {
  background-image: linear-gradient(hsla(0.06deg, 33.2%, 95%, 0.69) 15%, hsla(0.06deg, 33.2%, 95%, 0.59) 65%), url("../img/kamaz-card.jpg");
}
main .prices .prices-trucks .prices-truck-card:nth-of-type(3):hover {
  background-image: linear-gradient(rgba(27, 25, 25, 0.8) 60%, rgba(87, 70, 70, 0.9) 90%), url("../img/kamaz-card.jpg");
}
@media (min-width: 1024px) {
  main .prices .prices-trucks .prices-truck-card:nth-of-type(1) {
    grid-column: 2/6;
  }
  main .prices .prices-trucks .prices-truck-card:nth-of-type(2) {
    grid-column: 3/7;
  }
  main .prices .prices-trucks .prices-truck-card:nth-of-type(3) {
    grid-column: 4/8;
  }
}
main .prices .prices-trucks .prices-truck-card .icon {
  display: grid;
  place-items: center;
  grid-column: 1/6;
  grid-row: 3/5;
  filter: drop-shadow(0 0 4px hsl(0deg, 23.1%, 94.9%));
}
@media (min-width: 1024px) {
  main .prices .prices-trucks .prices-truck-card .icon {
    grid-column: 3/6;
    grid-row: 1/7;
  }
}
main .prices .prices-trucks .prices-truck-card .icon svg {
  width: 13rem;
  height: 6rem;
  padding: 0.25rem;
  fill: #2a2b1c;
}
@media (min-width: 744px) and (min-height: 1000px) {
  main .prices .prices-trucks .prices-truck-card .icon svg {
    width: 22rem;
    height: 11rem;
  }
}
@media (min-width: 1024px) and (max-height: 1000px) {
  main .prices .prices-trucks .prices-truck-card .icon svg {
    width: 16rem;
    height: 10rem;
  }
}
main .prices .prices-trucks .prices-truck-card .truck-blur {
  backdrop-filter: blur(3px);
  grid-column: 5/7;
  grid-row: 2/3;
}
@media (min-width: 1024px) {
  main .prices .prices-trucks .prices-truck-card .truck-blur {
    grid-column: 1/3;
    grid-row: 1/3;
  }
}
main .prices .prices-trucks .prices-truck-card .truck-title {
  box-shadow: 0 0 0.25rem 0.125rem hsl(355.2deg, 65.6%, 59%);
  border-radius: 5px;
  background: linear-gradient(hsla(64.3deg, 21.2%, 12.9%, 0.73) 30%, hsla(64.3deg, 21.2%, 12.9%, 0.53) 80%);
  border: 1px solid gainsboro;
  color: hsl(0deg, 23.1%, 94.9%);
}
main .prices .prices-trucks .prices-truck-card .truck-title h3 {
  font-family: Ki;
  font-weight: 700;
  line-height: 1.3;
  font-size: 2rem;
  letter-spacing: 0.02rem;
  padding: 2px 2.25vw;
  border-radius: 5px;
}
@media (min-width: 1024px) {
  main .prices .prices-trucks .prices-truck-card .truck-title h3 {
    font-size: 2.5rem;
  }
}
@media (min-width: 1024px) and (max-height: 1000px) {
  main .prices .prices-trucks .prices-truck-card .truck-title h3 {
    font-size: 2rem;
  }
}
main .prices .prices-trucks .prices-truck-card .truck-terms {
  grid-column: 3/7;
  grid-row: 6/8;
  border: 1px solid gainsboro;
  background: linear-gradient(hsla(64.3deg, 21.2%, 12.9%, 0.83) 30%, hsla(64.3deg, 21.2%, 12.9%, 0.73) 80%);
  box-shadow: 0 0 0.25rem 0.25rem #f8f8f8;
  border-radius: 10px;
  transition: 345ms box-shadow ease-in-out, 345ms background-color ease-in-out, 245ms color ease, 824ms border ease-in, 500ms transform ease-in;
}
@media (min-width: 1024px) {
  main .prices .prices-trucks .prices-truck-card .truck-terms {
    grid-column: 1/4;
    place-self: start;
  }
}
@media (min-width: 1024px) and (max-height: 1000px) {
  main .prices .prices-trucks .prices-truck-card .truck-terms {
    grid-column: 1/3;
  }
}
main .prices .prices-trucks .prices-truck-card .truck-terms:hover {
  box-shadow: 0 0 7px 6px hsl(0deg, 0%, 85.1%);
  background-color: #f7f4f0;
  border: 2px solid transparent;
}
main .prices .prices-trucks .prices-truck-card .truck-terms h4 {
  font-family: rubik;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.02em;
  padding: 0.75vw 2vh;
  color: hsl(0deg, 23.1%, 94.9%);
}
@media (max-width: 406px) {
  main .prices .prices-trucks .prices-truck-card .truck-terms h4 {
    font-size: 0.875rem;
    line-height: 23px;
  }
}
@media (min-width: 1024px) and (max-height: 1000px) {
  main .prices .prices-trucks .prices-truck-card .truck-terms h4 {
    font-size: 0.8rem;
  }
}
main .prices__advice {
  display: grid;
  grid-template: repeat(2, auto)/repeat(8, auto);
  grid-column: 2/8;
  column-gap: 5%;
  row-gap: 5%;
  transition: column-gap 560ms ease-in, row-gap 560ms ease-in;
  will-change: column-gap, row-gap;
}
@media (min-width: 744px) {
  main .prices__advice {
    grid-column: 3/7;
  }
}
main .prices__advice:hover {
  column-gap: 4px;
  row-gap: 0px;
}
main .prices__advice:hover svg {
  transform: rotate(19deg) scale(1);
}
main .prices__advice:hover h3 {
  box-shadow: 0 0 5px 10px hsl(113deg, 66%, 59%), 0 0 10px 14px hsl(64.3deg, 21.2%, 12.9%);
}
main .prices__advice h3 {
  grid-column: 1/7;
  grid-row: 1/3;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.25;
  padding: 1.5rem;
  border: 0.2rem solid hsl(64.3deg, 21.2%, 12.9%);
  text-align: center;
  border-radius: 49% 51% 59% 41%/58% 46% 54% 42%;
  background-color: hsl(0deg, 23.1%, 94.9%);
  box-shadow: 0 0 5px 10px hsla(355.2deg, 65.6%, 59%, 0.45), 0 0 0px 11px hsl(355.2deg, 65.6%, 59%);
  transition: box-shadow 450ms ease-in;
}
@media (min-width: 744px) {
  main .prices__advice h3 {
    font-size: 1.6rem;
    line-height: 1.3;
    padding: 1.6rem;
  }
}
@media (min-width: 1024px) {
  main .prices__advice h3 {
    line-height: 1.3;
    padding: 1.3rem 2.95rem;
    max-width: 21ch;
  }
}
@media (min-width: 1400px) {
  main .prices__advice h3 {
    grid-column: 2/8;
  }
}
main .prices__advice svg {
  justify-self: start;
  grid-row: 1/2;
  grid-column: 8/9;
  width: 10vh;
  aspect-ratio: 2/1;
  transition: transform 560ms ease-in;
}
@media (min-width: 1024px) and (max-height: 1000px) {
  main .prices__advice svg {
    width: 12vw;
    grid-column: 7/9;
  }
}
main .explanation {
  display: grid;
  place-items: center;
  grid-template: minmax(2rem, 1fr) minmax(10rem, 3fr) minmax(10rem, 3fr) minmax(1rem, calc(var(--vh) * 3))/minmax(1rem, 1fr) minmax(40%, 5fr) minmax(40%, 5fr) minmax(1rem, 1fr);
  padding-top: 3vh;
  background: linear-gradient(#f2ece6, hsla(64.3deg, 11.2%, 82.9%, 0.95));
  transition: row-gap 560ms ease-in, column-gap 560ms ease-in;
}
@media (min-width: 744px) {
  main .explanation {
    grid-template: minmax(2rem, 1fr) minmax(10rem, 3fr) minmax(1rem, auto)/minmax(1rem, 2%) 1fr 1fr minmax(1rem, 2%);
    column-gap: 2em;
  }
}
main .explanation .explanation-title {
  grid-column: 1/6;
  width: 100%;
}
main .explanation .explanation-title h2 {
  background-color: hsl(0deg, 0%, 85.1%);
  text-align: center;
}
main .explanation .explanation-title .explanation-divider {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
main .explanation .explanation-title .explanation-divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 1rem;
  transform: rotateY(180deg);
}
main .explanation .explanation-title .explanation-divider .shape-fill {
  fill: #D9D9D9;
}
main .explanation-name {
  padding-bottom: 1rem;
  line-height: 1.2;
}
main .explanation h3 {
  font-family: ki;
  padding: 0.25rem;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  word-spacing: -0.55ch;
  border: 1px solid;
  background-color: #f5f1ed;
}
main .explanation ul {
  padding-left: 2.5rem;
}
main .explanation li {
  list-style: none;
  margin-bottom: 1rem;
  padding-left: 0.95ch;
  position: relative;
}
@media (min-width: 744px) {
  main .explanation li {
    padding-left: 0.5rem;
    max-width: 30ch;
  }
}
main .explanation li::before {
  content: "";
  position: absolute;
  background-size: 5ch 5ch;
  width: 5ch;
  height: 5ch;
  left: -4.3ch;
  bottom: -1.5ch;
  top: 0;
}
main .explanation .bad {
  grid-column: 2/4;
  grid-row: 2;
  color: #5d5f3e;
  padding: 1em;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 0 4px 3px #5d5f3e;
}
@media (min-width: 744px) {
  main .explanation .bad {
    grid-column-end: 3;
    margin-bottom: 33%;
    place-self: end;
  }
}
main .explanation .bad li::before {
  background-image: url("../img/icons/icons.svg#bad-li");
}
main .explanation .good {
  grid-column: 2/4;
  grid-row: 3;
  color: black;
  padding: 1em;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 0 4px 3px black;
}
@media (min-width: 744px) {
  main .explanation .good {
    grid-row: 2;
    grid-column-start: 3;
    margin-top: 33%;
    place-self: start;
  }
}
main .explanation .good li::before {
  background-image: url("../img/icons/icons.svg#good-li");
}
main .explanation .good li::before:hover {
  transform: scale(1.1);
}
main .faq {
  display: grid;
  grid-template: repeat(6, minmax(2rem, auto))/repeat(4, auto);
  background-color: hsla(64.3deg, 11.2%, 82.9%, 0.95);
  gap: 1rem;
  padding-bottom: 3.2em;
}
main .faq .faq-title {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 0.5rem;
  grid-column: span 5;
  background-color: rgba(250, 250, 249, 0.95);
  transition: column-gap 560ms ease-in;
}
main .faq .faq-title:hover {
  column-gap: 0.1rem;
}
main .faq .faq-title svg {
  align-self: center;
  justify-self: end;
  grid-column: 1/2;
  width: 4rem;
  height: 4rem;
  margin: 0.25rem;
}
@media (min-width: 1024px) {
  main .faq .faq-title svg {
    grid-column: 2/3;
  }
}
main .faq .faq-title div {
  align-self: center;
  grid-column: 2/5;
}
@media (min-width: 1024px) {
  main .faq .faq-title div {
    grid-column: 3/5;
  }
}
main .faq .faq-title h2 {
  font-size: 1.8rem;
  padding: 0.2rem;
}
main .faq details {
  grid-column: 2/5;
  align-self: start;
  border: 3px solid rgba(106, 107, 86, 0.95);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 0.25rem 0.125rem #f8f8f8;
}
@media (min-width: 1024px) {
  main .faq details {
    width: 60%;
    justify-self: center;
  }
  main .faq details[open] {
    width: 50%;
    justify-self: center;
  }
}
main .faq details[open] {
  grid-column: 2/5;
  border: 3px solid rgba(255, 255, 255, 0.95);
  background-color: white;
  box-shadow: 0 0 0.8125rem 0.5625rem #f8f8f8;
}
main .faq details[open] p {
  animation: openFaq 600ms ease-in-out;
}
main .faq details[open] summary {
  background-color: hsla(64.3deg, 21.2%, 12.9%, 0.85);
  color: hsl(0deg, 23.1%, 94.9%);
  border-bottom: 2px solid rgba(178, 180, 140, 0.85);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: grid-template-columns 1290ms ease-in, color 480ms ease-in, background-color 480ms ease-in-out 200ms;
}
main .faq details[open] summary h3 {
  font-size: 1.3rem;
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: 0.02em;
  transition: font-size 480ms ease-in-out, line-height 480ms ease-in-out, font-weight 480ms ease-in, letter-spacing 480ms ease-in;
}
main .faq details[open] summary::after {
  font-size: 2em;
  font-weight: 400;
  color: hsl(0deg, 23.1%, 94.9%);
  position: absolute;
  content: "-";
}
main .faq details p {
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0.5em;
  margin: 0.5em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: hsla(64.3deg, 21.2%, 12.9%, 0.85);
  color: hsl(0deg, 23.1%, 94.9%);
}
main .faq details summary {
  position: relative;
  display: grid;
  grid-template-columns: minmax(1.5rem, 5%) auto;
  column-gap: 0.75em;
  list-style: none;
  padding: 0.5em;
  border-radius: 5px;
  background-color: white;
  transition: transform 480ms ease-in, color 480ms ease-in, background-color 480ms ease-in-out 200ms, border 480ms ease-in, box-shadow 480ms ease-in;
}
main .faq details summary h3 {
  grid-column: 2/3;
  font-family: ki;
  font-size: 1.15rem;
  padding: 0;
  transition: font-size 480ms ease-in-out, line-height 480ms ease-in-out, font-weight 480ms ease-in;
}
main .faq details summary::after {
  justify-self: end;
  align-self: center;
  grid-column: 1/2;
  font-size: 2em;
  font-weight: 400;
  color: hsla(64.3deg, 21.2%, 12.9%, 0.85);
  position: absolute;
  content: "+";
  transition: color 380ms ease-in;
}

@keyframes openFaq {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes wheel {
  0% {
    transform: translate(0px, -3px);
  }
  50% {
    transform: translate(-2px, 4px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes lorry {
  0% {
    transform: translate(0px, -2px);
    fill: #2a2b1c;
  }
  50% {
    transform: translate(-3px, 4px);
    fill: #303120;
  }
  100% {
    transform: translate(0px, 3px);
    fill: #2d2e1e;
  }
}
@keyframes stuff {
  0% {
    transform: translate(0px, 2px);
    fill: #393a26;
  }
  50% {
    transform: translate(-1px, 3px);
    transform: scale(1.01);
    fill: #42442c;
  }
  100% {
    transform: translate(2px, 9px);
    fill: #3c3e28;
  }
}
@keyframes line {
  0% {
    fill: #da4e59;
  }
  50% {
    fill: hsl(64.3deg, 21.2%, 12.9%);
  }
  100% {
    fill: #45472e;
  }
}
@keyframes svitlenko {
  0% {
    fill: hsl(113deg, 66%, 59%);
  }
  33% {
    fill: #3ecf2a;
  }
  66% {
    fill: hsl(113deg, 66%, 59%);
  }
  100% {
    fill: #88e47c;
  }
}
@keyframes svitlenko_duga_1 {
  0% {
    fill: hsl(113deg, 66%, 59%);
  }
  50% {
    fill: hsl(355.2deg, 65.6%, 59%);
  }
  100% {
    fill: hsl(355.2deg, 65.6%, 59%);
  }
}
@keyframes svitlenko_duga_2 {
  0% {
    fill: hsl(355.2deg, 65.6%, 59%);
  }
  50% {
    fill: hsl(113deg, 66%, 59%);
  }
  100% {
    fill: hsl(355.2deg, 65.6%, 59%);
  }
}
@keyframes svitlenko_duga_3 {
  0% {
    fill: hsl(355.2deg, 65.6%, 59%);
  }
  50% {
    fill: hsl(355.2deg, 65.6%, 59%);
  }
  100% {
    fill: hsl(113deg, 66%, 59%);
  }
}
@keyframes dance-sack-top-left {
  0% {
    filter: blur(1rem);
    opacity: 0.1;
    transform: translate(-10%, -10%) scale(1.25);
    fill: hsl(64.3deg, 21.2%, 12.9%);
  }
  33% {
    filter: blur(0.25rem);
    transform: translate(35%, 20%) scale(2.1);
    opacity: 1;
    fill: hsl(355.2deg, 65.6%, 59%);
  }
  66% {
    filter: blur(0);
    transform: scale(1.5) translate(1%, 1%);
    opacity: 1;
    fill: #2b901d;
  }
  100% {
    transform: scale(0.95) translate(110%, 85%);
    opacity: 0;
  }
}
@keyframes dance-sack-middle {
  0% {
    filter: blur(1rem);
    opacity: 0.1;
    transform: translate(20%, -20%);
    fill: hsl(64.3deg, 21.2%, 12.9%);
  }
  33% {
    filter: blur(0.5rem);
    opacity: 1;
    transform: scale(1.5) translate(2%, -4%);
    fill: hsl(355.2deg, 65.6%, 59%);
  }
  66% {
    filter: blur(0);
    fill: #1e6615;
    opacity: 1;
    transform: scale(1.25) translate(-2%, -5%);
  }
  100% {
    transform: scale(0.7) translate(120%, 95%);
    opacity: 0;
  }
}
@keyframes dance-sack-bottom-right {
  0% {
    filter: blur(1rem);
    opacity: 0.1;
    transform: scale(0.5) translate(120%, 120%);
    fill: hsl(64.3deg, 21.2%, 12.9%);
  }
  33% {
    filter: blur(1px);
    transform: translate(-12%, -25%);
    opacity: 1;
    fill: #901e27;
  }
  66% {
    filter: blur(0);
    transform: scale(1) translate(-1%, -15%);
    opacity: 1;
    fill: #123b0c;
  }
  100% {
    transform: scale(0.75) translate(100%, 85%);
    opacity: 0;
  }
}
@keyframes dance-sack-top-right {
  0% {
    fill: hsl(64.3deg, 21.2%, 12.9%);
    transform: translate(-10%, -10%) scale(0.1);
    opacity: 0.1;
  }
  50% {
    fill: hsl(113deg, 66%, 59%);
    transform: translate(15%, -5%) scale(0.9);
    opacity: 1;
  }
  100% {
    fill: #37ba26;
    transform: translate(-100%, 85%);
    opacity: 0.5;
  }
}
@keyframes dance-sack-right {
  0% {
    fill: hsl(64.3deg, 21.2%, 12.9%);
    transform: translate(-30%, -70%) scale(0.7);
    opacity: 0.1;
  }
  50% {
    fill: hsl(113deg, 66%, 59%);
    transform: translate(10%, 0%) scale(0.9);
    opacity: 1;
  }
  100% {
    fill: #37ba26;
    transform: translate(-100%, 85%);
    opacity: 0;
  }
}
@keyframes dance-sack-bottom {
  0% {
    fill: hsl(64.3deg, 21.2%, 12.9%);
    transform: translate(-80%, -80%) scale(0.5);
    opacity: 0.1;
  }
  50% {
    fill: hsl(113deg, 66%, 59%);
    transform: translate(10%, -10%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-100%, 85%);
    fill: #37ba26;
    opacity: 0;
  }
}
@keyframes dance-man {
  0% {
    fill: hsl(64.3deg, 21.2%, 12.9%);
    opacity: 0.1;
    transform: scale(0.25) translate(-50%, 100%);
  }
  50% {
    transform: scale(1) translate(5%, -2%);
    opacity: 1;
    fill: hsl(113deg, 66%, 59%);
  }
  100% {
    fill: #37ba26;
    transform: translate(-100%, 85%);
    opacity: 0;
  }
}
@keyframes dance-sack-top-right-desktop {
  0% {
    fill: hsl(64.3deg, 21.2%, 12.9%);
    transform: translate(-10%, -10%) scale(0.1);
    opacity: 0.1;
  }
  50% {
    fill: hsl(113deg, 66%, 59%);
    transform: translate(15%, -5%) scale(0.9);
    opacity: 1;
  }
  100% {
    fill: #37ba26;
    transform: translate(100%, -85%);
    opacity: 0.5;
  }
}
@keyframes dance-sack-right-desktop {
  0% {
    fill: hsl(64.3deg, 21.2%, 12.9%);
    transform: translate(-30%, -70%) scale(0.7);
    opacity: 0.1;
  }
  50% {
    fill: hsl(113deg, 66%, 59%);
    transform: translate(10%, 0%) scale(0.9);
    opacity: 1;
  }
  100% {
    fill: #37ba26;
    transform: translate(100%, -85%);
    opacity: 0;
  }
}
@keyframes dance-sack-bottom-desktop {
  0% {
    fill: hsl(64.3deg, 21.2%, 12.9%);
    transform: translate(-80%, -80%) scale(0.5);
    opacity: 0.1;
  }
  50% {
    fill: hsl(113deg, 66%, 59%);
    transform: translate(10%, -10%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(100%, -85%);
    fill: #37ba26;
    opacity: 0;
  }
}
@keyframes dance-man-desktop {
  0% {
    fill: hsl(64.3deg, 21.2%, 12.9%);
    opacity: 0.1;
    transform: scale(0.25) translate(-50%, 100%);
  }
  50% {
    transform: scale(1) translate(5%, -2%);
    opacity: 1;
    fill: hsl(113deg, 66%, 59%);
  }
  100% {
    fill: #37ba26;
    transform: translate(100%, -85%);
    opacity: 0;
  }
}
@keyframes dance-sacks {
  0% {
    opacity: 0;
    fill: hsl(64.3deg, 21.2%, 12.9%);
    transform: scale(1.5) translate(100%, -100%);
  }
  50% {
    fill: hsl(113deg, 66%, 59%);
    transform: scale(1);
    opacity: 1;
  }
  75% {
    fill: #5ada49;
  }
  100% {
    fill: #52d841;
    transform: translate(-100%, 0);
    opacity: 0;
  }
}
@keyframes dance-gazel {
  0% {
    fill: hsl(64.3deg, 21.2%, 12.9%);
    transform: scale(1.5) translate(100%, 0);
  }
  50% {
    transform: translate(0%, 0);
    opacity: 1;
  }
  75% {
    fill: hsl(113deg, 66%, 59%);
  }
  100% {
    transform: translate(-100%, 0);
    fill: #4ed73c;
    opacity: 0;
  }
}
@keyframes dance-sacks-desktop {
  0% {
    fill: hsl(64.3deg, 21.2%, 12.9%);
    transform: translate(-50%, 100%) scale(0.5);
    opacity: 0;
  }
  50% {
    fill: hsl(355.2deg, 65.6%, 59%);
    transform: translate(-30%, -25%);
  }
  75% {
    fill: #5ada49;
    transform: translate(-25%, 0%);
  }
  100% {
    fill: #52d841;
    transform: translate(75%, 0%);
  }
}
@keyframes dance-gazel-desktop {
  0% {
    transform: scale(-1, 1) translate(0%, 0%);
    fill: hsl(64.3deg, 21.2%, 12.9%);
    opacity: 0;
  }
  50% {
    fill: hsl(355.2deg, 65.6%, 59%);
    transform: scale(-1, 1) translate(75%, 0%);
  }
  75% {
    fill: #47d534;
    transform: scale(-1, 1) translate(100%, 0%);
  }
  100% {
    transform: scale(-1, 1) translate(0%, 0%);
    fill: #4ed73c;
  }
}
@keyframes dancing-gazel-title {
  0% {
    -webkit-text-stroke: 1px hsl(355.2deg, 65.6%, 59%);
    color: hsl(355.2deg, 65.6%, 59%);
    box-shadow: 0 0 0.375rem 0.25rem #f8f8f8;
    border-top-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 12px;
  }
  33% {
    border-top-left-radius: 4px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 8px;
  }
  66% {
    -webkit-text-stroke: 1px hsl(0deg, 23.1%, 94.9%);
    box-shadow: 0 0 0.25rem 0.25rem #f8f8f8;
    border-top-left-radius: 8px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 4px;
  }
  100% {
    border-top-left-radius: 12px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0px;
  }
}
@keyframes dancing-arrow {
  0% {
    transform: translateY(-0.23ch);
  }
  33% {
    transform: rotate(1deg) scaleX(1.1);
  }
  66% {
    transform: scale3d(1, 1, -1) scaleX(1);
  }
  100% {
    transform: translateY(1.7ch) scale3d(1, -1, -1);
  }
}
@keyframes hand {
  0% {
    transform: scale(0.8) translateX(-10%) rotate(-10deg);
  }
  50% {
    transform: translateX(0%) rotate(20deg);
  }
  100% {
    transform: translateX(10%) rotate(0deg);
  }
}